#!/usr/bin/env python
PACKAGE = "superpixels"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Joint value
gen.add("kernel_radius", int_t, 0, "Radius for dilation kernel", 0, 0, 15)

gen.add("num_iterations", int_t, 0, "Number of superpixel iterations", 10, 1, 100)
gen.add("num_dilation_iterations", int_t, 0, "Number of dilation iterations", 0, 0, 100)
gen.add("num_superpixels", int_t, 0, "Approximate number of superpixels generated", 200, 1, 250)

gen.add("w_normal", double_t, 0, "Weight for normal distance term", 1.0, 0.0, 1000.0)
gen.add("w_plane_dist", double_t, 0, "Weight for plane distance term", 1.0, 0.0, 1000.0)
gen.add("w_world_dist", double_t, 0, "Weight for world distance term", 1.0, 0.0, 1000.0)
gen.add("w_compact", double_t, 0, "Weight for compactness term", 3.0, 0.0, 1000.0)

gen.add("constraint", bool_t, 0, "Use constraints", True)
gen.add("ransac", bool_t, 0, "Use RANSAC", True)
gen.add("snapping", bool_t, 0, "Snapping clusters to nearby pixel", False)

gen.add("ransac_K", int_t, 0, "Sample size for RANSAC", 10, 3, 100)
gen.add("ransac_N", int_t, 0, "Number of iterations for RANSAC", 25, 1, 100)
gen.add("ransac_T", double_t, 0, "Threshold for RANSAC", 0.01, 0.0, 1.0)

# [1] https://wiki.ros.org/dynamic_reconfigure/Tutorials/HowToWriteYourFirstCfgFile
# [2] https://wiki.ros.org/dynamic_reconfigure/Tutorials/SettingUpDynamicReconfigureForANode%28cpp%29
# second argument: what package in which this reconfigure node will be created
# third argument: what name will be assigned to the auto-generated files ({FILENAME}Config.h)
exit(gen.generate(PACKAGE, "superpixels", "Parameters"))